body{
  margin: 8px;
  padding: 0;
  min-height: 100%;
  background-color:#FCFCFC; 
}

#container{
display: flex;
flex-direction: column;
}

#nav-container{
display:flex;
flex-direction: row;
justify-content: space-between;
margin: 10px 20px 10px 20px;
}

#name-container{
  display: flex;
  flex-direction: row;
}

#name{
font-family: 'Shadows Into Light', cursive;
font-size: 3em;
color: rgba(10, 10, 10, 0.959);
}

#dice-container{
  height: 4em;
}

#diceImg{
  height: 100%;
}

#nav-list-container{
  display: flex;
  /* flex-direction: row;
  align-items: center; */
}

 ul{
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0px;
  padding: 0px;
}

/* li{
  list-style-type: none;
} */

a{
  font-family: 'Shadows Into Light', cursive;
  font-size: 2em;
}

#about-list{
  padding: 15px;
  color:#E42D33;
}

#portfolio-list{
  padding: 15px;
  color:#113166
}

#skills-list{
  padding: 15px;
  color:#F89522;
}

#contact-list{
  padding: 15px 0px 15px 15px;
  color: #32826B;
}


.dropdown-container{
  position: relative;
  display: inline-block;
  
}

#my-button{
  background-color: rgb(245, 238, 238);
  border: black solid .5px;
  width: 50px;
  height:50px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-radius: 10px;
}

.button-line{
  margin: 0px 5px 0px 5px;
  border: solid 1.5px;
}

#red{
  border-color: #E42D33;
 
}

#blue{
  border-color: #113166;
}

#yellow{
  border-color: #F89522;
}

#green{
border-color: #32826B;
}



@media only screen and (max-width: 775px){
  #nav-list-container{
    display: none;
  }

  
}

@media only screen and (min-width: 775px){
  .dropdown-container{
    display: none;
  }
}