body{
  margin: 8px;
  padding: 0;
  min-height: 100%;
  background-color:#FCFCFC; 
}

#container{
display: flex;
flex-direction: column;
}

#nav-container{
display:flex;
flex-direction: row;
justify-content: space-between;
margin: 10px 20px 10px 20px;
}

#name-container{
  display: flex;
  flex-direction: row;
}

#name{
font-family: 'Shadows Into Light', cursive;
font-size: 3em;
color: rgba(10, 10, 10, 0.959);
}

#dice-container{
  height: 4em;
}

#diceImg{
  height: 100%;
}

#nav-list-container{
  display: flex;
  flex-direction: row;
}

ul{
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

li{
  padding: 15px;
}

a{
  font-family: 'Shadows Into Light', cursive;
  font-size: 2em;
}

#about-list{
  color:#E42D33;
}

#portfolio-list{
  color:#113166
}

#skills-list{
  color:#F89522;
}

#contact-list{
  color: #32826B;
}