body{
  margin: 8px;
  padding: 0;
  min-height: 100%;
  background-color:rgb(255, 254, 252); 
}

#container{
  background-color: rgb(255, 254, 252);
  max-width: 1000px;
  margin: auto;
  border:10px solid rgb(255, 254, 252);
}

#nav-wrapper{
  position: fixed;
  top: 0;
  left: 0;
  margin: auto;
  width: 100%;
}

#content-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 100px;
}

#nav-container{
display:flex;
flex-direction: row;
justify-content: space-between;
margin: 0px 20px 10px 20px;
align-items: center;
background-color:rgb(255, 254, 252);
padding-top:10px;
}

#name-container{
  display: flex;
  flex-direction: row;
  align-items: center;
}

#name{
font-family:'NorthBergen-Regular';
font-size: 3em;
color: rgba(10, 10, 10, 0.959);
}

#dice-container{
  height: 4em;
  width: 4em;

}

#diceImg{
  height: 100%;
}
/* 
#nav-list-container{
  display: flex;
  flex-direction: row;
  align-items: center;
} */

 ul{
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0px;
  padding: 0px;
}

.list-item{
  font-family: 'NorthBergen-Light';
  font-size: 2em;
  cursor: grab;
  cursor: -moz-grab;
}

#about-list{
  padding: 15px;
  color:#E42D33;
}

#portfolio-list{
  padding: 15px;
  color:#113166
}

#skills-list{
  padding: 15px;
  color:#F89522;
}

#contact-list{
  padding: 15px 0px 15px 15px;
  color: #32826B;
}

.dropdown-container{
  position: relative;
  display: inline-block;
} 

#my-button{
  width: 50px;
  height:50px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-radius: 10px;
  cursor: grab;
  cursor: -moz-grab;
}


.dropdown-content{
  display: none;
  position: absolute;
  z-index: 1;
} 

#my-button:hover, #my-button:focus{
  background-color: rgb(235, 227, 227);
}

.button-line{
  margin: 0px 5.5px 0px 5.5px;
  border: solid 1px;
  border-radius: 10px;
}

a{
  text-decoration-line: none;
}


.show {display:block;}

#red{
  border-color: #E42D33;
}

#blue{
  border-color: #113166;
}

#yellow{
  border-color: #F89522;
}

#green{
border-color: #32826B;
}

.button-link{
  font-family: 'NorthBergen-Light';
  font-size: 1em;
  display: block;
}

#about-button{
  color: #E42D33;
}

#portfolio-button{
  color: #113166;
}

#skill-button{
  color: #F89522;
}

#contact-button{
  color: #32826B;
}

#about-container{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 0px 20px 10px 20px;
}


#about-text-container{
  font-family: 'Cutive Mono', monospace;
  font-size: .9rem;
  color: #E42D33;
  margin-top: 30px;
}

#it-me{
  max-width: 50%;
}

#portfolio-container{
  margin: 0px 15px 0px 15px;
}

.section-titles{
  font-size: 1.5em;
  font-family: 'NorthBergen-Light';
}

#portfolio-title{
  color: #113166;
}

.portfolio-content-container{
  margin: 10px 20px 10px 20px;
}

.single-portfolio-container{
  margin-bottom: 10px;
}

#top-single-portfolio{
  margin-top:0px;
}

.single-portfolio-img-container{
  height: 15em;
}

.portfolio-img{
  height: 100%;
  width: 100%;
  border-radius: 5%;
}

.single-portfolio-content{
  font-family: 'Cutive Mono', monospace;
  font-size: .85
  rem;
  margin: 10px 5px 15px 5px;
}

.single-portfolio-title{
  font-family: 'Cutive Mono', monospace;
  font-size: 1.25rem;
  margin: 5px;
}

#skills-container{
  margin: 0px 15px 0px 15px;
}

#skills-title{
  color: #F89522;
}

.skills-content-container{
  margin: 10px 10px 5px 10px;
}

/* .single-skill-content{
  border: 1px solid yellowgreen;
} */

.skill-title{
  font-family: 'Cutive Mono', monospace;
  font-size: .9rem;
}

.skill-content{
  font-family: 'Cutive Mono', monospace;
  font-size: .7rem;
  margin: 5px 10px 5px 10px;
}

#contact-container{
  margin: 0px 15px 0px 15px;
}

#contact-title{
  color: #32826B;
}

.contact-link-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.links-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.single-contact-link-container{
  width: 1.75em;
  padding: 10px;
}

.link-logo{
  width: 100%
}

#resume-link{
  font-size: 1.5em;
  font-family: 'NorthBergen-Light';
  display: flex;
  justify-content: center;
  color: black;
}


@media only screen and (min-width: 475px){
  .portfolio-content-container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  .single-portfolio-container{
    width: 40%;
  }

  .single-contact-link-container{
    width:2.5em;
  }

  #resume-link{
    font-size: 2.5em;
  }
}



@media only screen and (max-width: 475px){
#name{
  font-size: 2em;
}
#dice-container{
  height: 2em;
  width: 2em;
  padding-left: .25rem;
}
#my-button{
  height: 1.75em;
  width: 1.75em;
}
}

@media only screen and (max-width: 775px){
  #nav-list-container{
    display: none;
  }
  
}

@media only screen and (min-width: 775px){
  .dropdown-container{
    display: none;
  }

  #about-container{
    flex-direction: row;
    justify-content: space-around;
    margin: 20px;
  }

  #about-text-container{
    max-width: 40%;
  }

  #it-me{
    max-width: 30%;
    order: 1;
  }

  .portfolio-content-container{
    display: flex;
    justify-content: space-evenly;
  }

  .single-portfolio-container{
    width: 35%;
  }

  .section-titles{
    font-size: 2em;
  }

  .skill-title{
    font-size: 1.5rem;
  }
  
  .skill-content{
    font-size: 1rem;
  }

  
}